tags
/build*
/.vagrant

# Make sure not to save ssh keys
/ssh*

# Make sure not to save configs
*.conf

# do not save various packer files
packer_cache/
/packer/output*/
/packer/build/

# do not save various terraform files
.terraform
*.tfstate

*.pyc

*.log
*.retry
*.swp
